<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>DebateMate.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>94FCF1601E86D3E3001DFE6F</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>94FCF1741E86D3E4001DFE6F</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>94FCF17F1E86D3E4001DFE6F</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
